---
const { title, description, slug, image } = Astro.props;
console.log(image)
---
<!-- Contenedor principal de la tarjeta -->
<div class='bg-[var(--card-color)] md:rounded-3xl h-[212px] flex flex-row'>
  <!-- Columna izquierda con el contenido principal -->
  <div class='flex flex-col w-full lg:w-2/3 xl:w-3/5 pl-3 py-8 space-y-3'>
    <!-- Título de la entrada con enlace -->
    <div class='flex flex-row items-center'>
      <div class='bg-[var(--primary-color)] w-1 mx-2 h-5 rounded-lg'></div>
      <a href="#" class='title'>{title}</a>
      <!-- Título que redirige a la entrada completa -->
    </div>

    <div class='px-5 space-y-3'>
      <!-- Descripción de la entrada -->
      <div>
        <p class='pt-10'>{description}</p>
        <!-- Muestra la descripción si está disponible -->
      </div>
    </div>
  </div>

  <!-- Columna derecha con la imagen de portada -->
  <div class='cover-container'>
    <a href="#" class='cover-wrapper'>
      <i class='right-icon iconfont ic-right'></i>
      <!-- Icono de flecha para indicar que se puede hacer clic -->
      <img
        class='cover lozad'
        src={image ?? "/default-image.jpg"}
        alt='post cover'
      />
    </a>
  </div>
</div>

<!-- Estilos Tailwind CSS y algunos personalizados -->
<style>
  .title {
    @apply text-2xl font-semibold align-top text-[var(--text-color)];
    @apply hover:text-[var(--primary-color)] transition-all;
    font-family: var(--primary-font); /* Estilo para el título */
  }

  .desc {
    @apply text-[var(--text-color)] min-h-[24px] truncate;
    font-family: var(--primary-font); /* Estilo para la descripción */
  }

  .cover-container {
    @apply hidden lg:block w-1/3 xl:w-2/5 h-full relative ml-2;
    clip-path: polygon(
      0 0%,
      100% 0%,
      100% 100%,
      10% 100%
    ); /* Estilo de la imagen de la portada */
  }

  .cover-wrapper {
    @apply w-full h-full rounded-r-3xl overflow-hidden;
  }

  .cover-wrapper::before {
    @apply w-0 h-full bg-black opacity-50 rounded-r-3xl absolute left-0;
    content: "";
    z-index: 1;
    transition: all 0.3s;
  }

  .cover-wrapper::before:hover {
    @apply w-full h-full;
  }

  .right-icon {
    @apply absolute z-[10] text-[4rem] text-white font-bold left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: all 0.3s;
  }

  .cover-wrapper:hover .right-icon {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }

  .cover {
    @apply w-full h-full rounded-r-3xl object-cover dark:brightness-90;
  }
</style>
