---
// Component Imports
import Main from "../layouts/MainLayout.astro";
import SideBar from "../components/SideBar.astro";
import Footer from "../components/Footer.astro";
import ArchiveYearTitle from "../components/misc/ArchiveYearTitle.astro";
import ArchivePost from "../components/misc/ArchivePost.astro";

import { type Archive } from "../utils/content";
---

<Main>
  <div class='archives'></div>
</Main>

<style>
  .archives {
    @apply min-w-full max-w-full flex flex-col bg-[var(--card-color)] p-10 rounded-2xl;
  }
</style>
